<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.neuwirthinformatik.alexander.mtuo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="de.neuwirthinformatik.alexander.mtuo.MainApplication"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="de.neuwirthinformatik.alexander.mtuo.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.neuwirthinformatik.alexander.mtuo.OutActivity"
            android:label="@string/title_activity_out"
            android:parentActivityName="de.neuwirthinformatik.alexander.mtuo.MainActivity"/>

        <activity
            android:name=".InActivity"
            android:label="@string/title_activity_in"
            android:parentActivityName="de.neuwirthinformatik.alexander.mtuo.MainActivity"/>

        <service
            android:name=".TUOIntentService"
            android:excludeFromRecents="false"
            android:exported="false"
            android:process=":tuo" />

        <service
            android:name=".TUOJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            tools:node="merge" />

        <provider
    android:name="androidx.startup.InitializationProvider"
    android:authorities="${applicationId}.androidx-startup"
    android:exported="false"
    tools:node="merge">
    <!-- If you are using androidx.startup to initialize other components -->
    <meta-data
        android:name="androidx.work.WorkManagerInitializer"
        android:value="androidx.startup"
        tools:node="remove" />
 </provider>



        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />

        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_history" />
    </application>

</manifest>